.input-hidden {
    position: absolute;
    left: -9999px;
}

.btn-img {
    width: 50%;
    height: 50%;
}

.btn.btn-primary:disabled{
    background-color: #b3b3b3;
    border-color: #b3b3b3;
}

.img-hl {
    /* border: 2px solid #0275d8; */
    box-shadow: 0 0 3px 3px #0275d8;
}

.overlay-container {
    position: relative;
    width: 100%;
}

.overlay-container:hover .overlay {
    opacity: 0.5;
}

.overlay-container:focus-within .overlay {
    opacity: 0.5;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}

.overlay-text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}