{% extends 'layout.html' %}
{% block title %}
    SensiLab Survey
{% endblock title %}
{% block content %}
<div class="container">
    <div class='jumbotron px-3 py-3'>
        <p class="h5 text-justify font-weight-light">
            Thank you for participating in this survey.
        </p>
        <p class="h5 text-justify font-weight-light">
            The data collected and the results of our experiment will be 
            available in the <a href="https://sensilab.monash.edu/publications/">
            publications section of our website</a> in the near future.
        </p>
        <p class="h5 text-justify font-weight-light">
            You can close this tab or browser now.
        </p>
    </div>
    
    
</div>
{% endblock content %}